/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require angular-csp.css
 *= require bootstrap.min.css
 */

@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
 .body{
 	background-color: #FFF9DB;
}

p{
	font-family: 'Oswald', sans-serif;
}

ul.nav li a{
	font-family: 'Poiret One', cursive;
	font-size: 1.8em;
	color: #9D3430;
}

div.navbar-header img.navbar-brand{
	padding: 5px;
}

.container-fluid{
	background-color: #FFFFFE;
}

.header-logo{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: 400px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.carousel-caption{
	font-family: 'Sacramento', cursive;
	font-size: 4.0em;
	top: 0;
    bottom: auto;
}

.caption-background{
	color: #9D3430;
	background-color:rgba(255, 255, 255, 0.70);
}

.portada{
	background-color: #FFFFFE;
}

html.ng-scope body.body div.container div.ng-scope div.row div.slideshow{
	padding-left: 0;
	padding-right: 0;
}

.text_divider{
	width: 60%;
}

.footer_divider{
	width: 15%;
}

.centralize{
	text-align: center;
}

.p{
	font-family: 'Poiret One', cursive;
	font-size: 2.2em;
}

.hightlight{
	font-family: 'Poiret One', cursive;
	font-size: 2.2em;
	color: #9D3430;
}

.footer{
	font-family: 'Poiret One', cursive;
	color: #858383;
	font-size: 1.2em;
}

h1.header{
	font-size: 5em;
	font-family: 'Poiret One', cursive;
	text-align: center;
	color: #9D3430;
}

h2.header, div > h4{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #9D3430;
}
div.panel-heading.panel_heading{
	/*
	background-color: #f2f2f2;
	*/
}

.menu-title{
	color: #727272;
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
}

.menu-list{
	padding-bottom: 10px;
}

/* Menu sublist */
div.col-md-3 ul li, div.col-md-4 ul li{
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
}

.note{
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
}