<div class="row portada">
	<div class="col-md-12">
		<h1 class="header">Servicios</h1>
	</div>
</div>

<div class="row portada">
	<br>
	<div class="col-md-12 centralize"><img class="text_divider" ng-src="/assets/text_divider.png"></div>
	<br>


	<div class="col-md-12 p">
		<br>
		<p>Nuestra prioridad es brindarle un servicio de primera. Ofrecemos servicios de comidas, entremeses, decoración, coordinación, mozos, y "bartending" para cualquier tipo de actividad. Nuestros servicios están al alcanze de todo Puerto Rico.</p>

		<p></p>
	</div>

	<br>
	<div class="col-md-12 centralize"><img class="footer_divider" ng-src="/assets/footer.png"><br><br></div>
	
</div>